/*
 * The styles below are not targeting the AEM header and footer
 * experience fragments but their surrounding context. We have
 * to set them manually in order to adequatly mimic AEM look & feel.
 */

.aem {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

@media only screen and (min-width: 48em) {
  .aem {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media only screen and (min-width: 64em) {
  .aem {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }

  /* temporary overwritten as the max-width value in the AEM project is outdated */
  .aem .container-fullWidthSection.aem-GridColumn > .cmp-container > .aem-Grid {
    max-width: 75rem;
  }
}
